p h1 img video div {
	margin: 0;
	padding: 0;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	font-family: serif;

}

body {
	background-color: #000000;
	text-align: center;
}

p {
	width: 100%;
	color: white;
	text-align: center;
}

h1 {
	color: white;
}

#bluebird {
	color: #AAAAFF;
}

a {
	color: #AAFFAA;
}